<div class="card">
  <div class="card-block">
    <ul>
      <li><b>ผู้พัฒนาโครงการ:</b> <a href="https://github.com/JutharatAAPC" target="_blank">จุฑารัตน์ กลีบม่วง</a></li>
      <li><b>GitHub:</b> <a href="https://github.com/JutharatAAPC/Senior-Project-20p15i0109-Cadet-Exam-Preparation-App" target="_blank">project repository</a></li>
      <li><b>ซอฟต์แวร์และเทคโนโลยีที่ใช้</b></li>
      <ul>
        <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
        <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
        <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2+</a></li>
        <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
      </ul>
    </ul>
  </div>
</div>
<div class="card">
  <h4 class="card-title">เป้าหมายและขอบเขต</h4>
  <div class="card-block">

    <p class="card-text"> แอปพลิเคชันเตรียมสอบนายสิบตำรวจ เเบ่งการทำงานออกเป็น 2 ส่วน ดังนี้ </p>

    <div class="card">
      <h5 class="card-title">ส่วนที่ 1 ผู้ดูแลระบบ</h5>
      <div class="card-block">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> สามารถเพิ่มข้อสอบ/ ลบข้อสอบ / เเก้ไขข้อสอบได้ </li>
          <li class="list-group-item"> สามารถดูข้อมูลข้อสอบได้ </li>
          <li class="list-group-item"> สามารถดูข้อมูลสมาชิกได้ </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h5 class="card-title">ส่วนที่ 2 ผู้ใช้งาน</h5>
      <div class="card-block">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> ระบบสามารถใช้งานผ่านอุปกรณ์สมาร์ทโฟนที่ใช้ระบบปฎิบัติการแอนดรอยด์เวอร์ชัน (version 5.0) ขึ้นไป</li>
          <li class="list-group-item"> สามารถเลือกเมนูในการฝึกฝนได้ คือ เเบบฝึกหัด เเละเเบบทดสอบ </li>
          <li class="list-group-item"> สามารถเลือกวิชา หัวข้อ เเละชุดข้อสอบ ได้ </li>
          <li class="list-group-item"> ระบบเเสดงข้อสอบ เมื่อมีการกดปุ่มเริ่มทำข้อสอบ เเละมีการจับเวลาทำข้อสอบ </li>
          <li class="list-group-item"> ระบบเเสดงเฉลย คะเเนน เเละเเจ้งสถิติการทำข้อสอบ เมื่อทำข้อสอบเสร็จ </li>
          <li class="list-group-item"> ระบบเก็บประวัติการทำข้อสอบในเเต่ละครั้ง </li>
        </ul>
      </div>
    </div>
  </div>
</div>
